In [19]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [20]:
df = pd.DataFrame({
    'location' :['Mumbai','Los Angeles', 'Jersey City','Delhi'],
    'designation' :['IT','SALES','HR','Marketing']
})

In [21]:
df

      location designation
0       Mumbai          IT
1  Los Angeles       SALES
2  Jersey City          HR
3        Delhi   Marketing

In [22]:
encoder = OneHotEncoder()

In [23]:
encoder.fit_transform(df[['location']]).toarray()

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

In [28]:
ohe_location = encoder.fit_transform(df[['location']]).toarray()

In [29]:
df_ohe_location =  pd.DataFrame(ohe_location, columns=encoder.get_feature_names_out())

In [30]:
df_encoded = pd.concat([df,df_ohe_location],axis=1)

In [32]:
df_encoded

,location,designation,location_Delhi,location_Jersey City,location_Los Angeles,location_Mumbai
0,Mumbai,IT,0.0,0.0,0.0,1.0
1,Los Angeles,SALES,0.0,0.0,1.0,0.0
2,Jersey City,HR,0.0,1.0,0.0,0.0
3,Delhi,Marketing,1.0,0.0,0.0,0.0

In [37]:
ohe_designation = encoder.fit_transform(df[['designation']]).toarray()

In [38]:
df_ohe_designation =  pd.DataFrame(ohe_designation, columns=encoder.get_feature_names_out())

In [39]:
df_encoded = pd.concat([df,df_ohe_designation],axis = 1)

In [40]:
df_encoded

,location,designation,designation_HR,designation_IT,designation_Marketing,designation_SALES
0,Mumbai,IT,0.0,1.0,0.0,0.0
1,Los Angeles,SALES,0.0,0.0,0.0,1.0
2,Jersey City,HR,1.0,0.0,0.0,0.0
3,Delhi,Marketing,0.0,0.0,1.0,0.0