In [2]:
import pandas as pd
import numpy as np

In [6]:
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
class_0 = int(n_samples * class_0_ratio)
class_1 = n_samples - class_0

In [9]:
print(class_0)
print(class_1)

900
100

In [10]:
class_0 = pd.DataFrame({
    'feature':np.random.normal(loc = 0, scale = 1, size = class_0),
    'target' : [0] * class_0
})
class_1 = pd.DataFrame({
    'feature': np.random.normal(loc = 0, scale = 1, size = class_1 ),
    'target' : [1] * class_1
})

In [11]:
class_0

      feature  target
0   -1.085631       0
1    0.997345       0
2    0.282978       0
3   -1.506295       0
4   -0.578600       0
..        ...     ...
895  0.238761       0
896 -1.106386       0
897  0.366732       0
898  1.023906       0
899 -0.210056       0

[900 rows x 2 columns]

In [12]:
class_1

     feature  target
0   0.551302       1
1   0.419589       1
2   1.815652       1
3  -0.252750       1
4  -0.292004       1
..       ...     ...
95  0.634763       1
96  1.069919       1
97 -0.909327       1
98  0.470264       1
99 -1.111430       1

[100 rows x 2 columns]

In [13]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [14]:
df

      feature  target
0   -1.085631       0
1    0.997345       0
2    0.282978       0
3   -1.506295       0
4   -0.578600       0
..        ...     ...
995  0.634763       1
996  1.069919       1
997 -0.909327       1
998  0.470264       1
999 -1.111430       1

[1000 rows x 2 columns]

In [15]:
df.value_counts()

feature    target
 3.571579  0         1
-3.231055  0         1
-3.167055  1         1
-2.798589  0         1
-2.794472  0         1
                    ..
-2.272618  1         1
-2.251535  0         1
-2.236417  0         1
-2.236169  1         1
-2.187086  0         1
Name: count, Length: 1000, dtype: int64

In [16]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [17]:
df.head()

    feature  target
0 -1.085631       0
1  0.997345       0
2  0.282978       0
3 -1.506295       0
4 -0.578600       0

In [18]:
df.tail()

      feature  target
995  0.634763       1
996  1.069919       1
997 -0.909327       1
998  0.470264       1
999 -1.111430       1

In [19]:
df_majority = df[df['target'] == 0]
df_minority = df[df['target'] == 1]

In [20]:
from sklearn.utils import resample

In [23]:
df_majority_downsampled = resample(df_majority,replace = True,
                                   n_samples = len(df_minority),
                                   random_state = 42)

In [24]:
df_majority_downsampled.shape

(100, 2)

In [29]:
df_downampled = pd.concat([df_minority,df_majority_downsampled])

In [30]:
df_downampled

      feature  target
900  0.551302       1
901  0.419589       1
902  1.815652       1
903 -0.252750       1
904 -0.292004       1
..        ...     ...
201 -0.598105       0
269  0.420180       0
862 -0.392309       0
815 -0.148405       0
270 -1.213385       0

[200 rows x 2 columns]

In [31]:
df_downampled.value_counts()

feature    target
-0.997321  0         2
-1.213385  0         2
 0.744819  0         2
 1.518630  0         2
 0.737369  0         2
                    ..
 1.613382  0         1
 1.716040  0         1
 1.720920  1         1
 1.744041  0         1
 1.815652  1         1
Name: count, Length: 195, dtype: int64

In [32]:
df_downampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [33]:
df_minority

      feature  target
900  0.551302       1
901  0.419589       1
902  1.815652       1
903 -0.252750       1
904 -0.292004       1
..        ...     ...
995  0.634763       1
996  1.069919       1
997 -0.909327       1
998  0.470264       1
999 -1.111430       1

[100 rows x 2 columns]

In [34]:
df_minority_upsampled = resample(df_minority,replace=True,
                                 n_samples=len(df_majority),
                                 random_state=42)

In [35]:
df_minority_upsampled

      feature  target
951 -0.778272       1
992 -1.318044       1
914 -0.801572       1
971 -1.568440       1
960 -1.863884       1
..        ...     ...
952  0.472775       1
965 -1.186925       1
976  0.081491       1
942 -1.112364       1
974 -0.064745       1

[900 rows x 2 columns]

In [36]:
df_minority_upsampled['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [37]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [38]:
df_upsampled

      feature  target
0   -1.085631       0
1    0.997345       0
2    0.282978       0
3   -1.506295       0
4   -0.578600       0
..        ...     ...
952  0.472775       1
965 -1.186925       1
976  0.081491       1
942 -1.112364       1
974 -0.064745       1

[1800 rows x 2 columns]

In [39]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64