<h3>Label Encoding</h3>
Label encoding involves assigning a unique numerical label to each category in the variable. The label's are usually assigned in alphabetical order or based on the frequency of the categories

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [51]:
df = pd.DataFrame({
    'color': ['Red','Blue','Green','Red','Green']
})

In [52]:
lbl_encoder = LabelEncoder()

In [53]:
lbl = lbl_encoder.fit_transform(df['color'])

In [54]:
lbl_df = pd.DataFrame(lbl,columns=['Color Encoded'])

In [55]:
lbl_df

   Color Encoded
0              2
1              0
2              1
3              2
4              1

In [56]:
pd.concat([df,lbl_df],axis = 1)

   color  Color Encoded
0    Red              2
1   Blue              0
2  Green              1
3    Red              2
4  Green              1