<h3>Label Encoding</h3>
Label encoding involves assigning a unique numerical label to each category in the variable. The label's are usually assigned in alphabetical order or based on the frequency of the categories

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [51]:
df = pd.DataFrame({
    'color': ['Red','Blue','Green','Red','Green']
})

In [52]:
lbl_encoder = LabelEncoder()

In [53]:
lbl = lbl_encoder.fit_transform(df['color'])

In [54]:
lbl_df = pd.DataFrame(lbl,columns=['Color Encoded'])

In [55]:
lbl_df

   Color Encoded
0              2
1              0
2              1
3              2
4              1

In [56]:
pd.concat([df,lbl_df],axis = 1)

   color  Color Encoded
0    Red              2
1   Blue              0
2  Green              1
3    Red              2
4  Green              1

<h3>Oridinal Encoding</h3>
It is used to encode categorical data that have an instrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order.For example, if we have a categorical variable "education level", we can assign the following numerical values: 1 for "School", 2 for "College", 3 for "Undergraduate", and 4 for "Graduate", 5 for "Phd"

In [57]:
from sklearn.preprocessing import OrdinalEncoder

In [58]:
df = pd.DataFrame({
    'size':['small','medium','small','large','small']
})

In [59]:
df

     size
0   small
1  medium
2   small
3   large
4   small

In [61]:
ord_encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [62]:
ord = ord_encoder.fit_transform(df[['size']])

In [63]:
ord

array([[0.],
       [1.],
       [0.],
       [2.],
       [0.]])

In [64]:
ord_df = pd.DataFrame(ord, columns = ['Ranking'])

In [65]:
ord_df

   Ranking
0      0.0
1      1.0
2      0.0
3      2.0
4      0.0

In [67]:
pd.concat([df,ord_df],axis = 1)

     size  Ranking
0   small      0.0
1  medium      1.0
2   small      0.0
3   large      2.0
4   small      0.0