<h3>Since machine learning moel completely works on mathematics and numbers, but if our dataset would hsve a categorical variable, then it may create trouble while building the model. So it is necessary to encode these categorical variables into numbers<h3>

<h5>Label encoding refers to converting the labels into numberic form so as to convert it into the machine readable form, ex: can be usedto encode categories such as low, medium, high, very high since the machine learning model can understand the intensity of the values which will be same as the categories<h5>

<h5>One-hot encoding converts categories (like colors or labels) into numbers so that a machine learning model can understand them. Each category gets its own column, and in that column, it's marked as 1 if it's present and 0 if not<h5>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Salary_Dataset.csv")

In [3]:
data.head(20)

      country   Salary  YearsExperience Purchased
0       Dubai  39343.0              1.1        No
1      Canada  46205.0              1.3       Yes
2      Canada  37731.0              1.5        No
3      Canada  43525.0              2.0        No
4         USA  39891.0              2.2        No
5       Dubai  56642.0              2.9        No
6      Canada  60150.0              3.0       Yes
7   Australia  54445.0              3.2        No
8       Dubai  64445.0              3.2       Yes
9       Dubai  57189.0              3.7        No
10      Dubai  63218.0              3.9       Yes
11        USA  55794.0              4.0        No
12      Dubai  56957.0              4.0       Yes
13     Canada  57081.0              4.1        No
14  Australia  61111.0              4.5        No
15        USA  67938.0              4.9        No
16        USA  66029.0              5.1        No
17     Canada  83088.0              5.3        No
18  Australia  81363.0              5.9       Yes
19     Canada  93940.0              6.0        No

In [4]:
data['country'].value_counts()

country
Canada       9
Dubai        8
Australia    7
USA          6
Name: count, dtype: int64

Applying One hot encoding on country

In [8]:
#Doing it using pandas dummies
country_dummy = pd.get_dummies(data['country']).astype('int')
country_dummy

    Australia  Canada  Dubai  USA
0           0       0      1    0
1           0       1      0    0
2           0       1      0    0
3           0       1      0    0
4           0       0      0    1
5           0       0      1    0
6           0       1      0    0
7           1       0      0    0
8           0       0      1    0
9           0       0      1    0
10          0       0      1    0
11          0       0      0    1
12          0       0      1    0
13          0       1      0    0
14          1       0      0    0
15          0       0      0    1
16          0       0      0    1
17          0       1      0    0
18          1       0      0    0
19          0       1      0    0
20          0       1      0    0
21          1       0      0    0
22          1       0      0    0
23          1       0      0    0
24          0       0      1    0
25          1       0      0    0
26          0       0      1    0
27          0       0      0    1
28          0       0      0    1
29          0       1      0    0

In [9]:
data = pd.concat([data, country_dummy], axis = 1)
data

,country,Salary,YearsExperience,Purchased,Australia,Canada,Dubai,USA
0,Dubai,39343.0,1.1,No,0,0,1,0
1,Canada,46205.0,1.3,Yes,0,1,0,0
2,Canada,37731.0,1.5,No,0,1,0,0
3,Canada,43525.0,2.0,No,0,1,0,0
4,USA,39891.0,2.2,No,0,0,0,1
5,Dubai,56642.0,2.9,No,0,0,1,0
6,Canada,60150.0,3.0,Yes,0,1,0,0
7,Australia,54445.0,3.2,No,1,0,0,0
8,Dubai,64445.0,3.2,Yes,0,0,1,0
9,Dubai,57189.0,3.7,No,0,0,1,0
10,Dubai,63218.0,3.9,Yes,0,0,1,0
11,USA,55794.0,4.0,No,0,0,0,1
12,Dubai,56957.0,4.0,Yes,0,0,1,0
13,Canada,57081.0,4.1,No,0,1,0,0
14,Australia,61111.0,4.5,No,1,0,0,0
15,USA,67938.0,4.9,No,0,0,0,1
16,USA,66029.0,5.1,No,0,0,0,1
17,Canada,83088.0,5.3,No,0,1,0,0
18,Australia,81363.0,5.9,Yes,1,0,0,0
19,Canada,93940.0,6.0,No,0,1,0,0
20,Canada,91738.0,6.8,No,0,1,0,0
21,Australia,98273.0,7.1,No,1,0,0,0
22,Australia,101302.0,7.9,No,1,0,0,0
23,Australia,113812.0,8.2,Yes,1,0,0,0
24,Dubai,109431.0,8.7,No,0,0,1,0
25,Australia,105582.0,9.0,Yes,1,0,0,0
26,Dubai,116969.0,9.5,No,0,0,1,0
27,USA,112635.0,9.6,Yes,0,0,0,1
28,USA,122391.0,10.3,No,0,0,0,1
29,Canada,121872.0,10.5,Yes,0,1,0,0

Performing label encoding using scikitlearn on Purchased column

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
data['Purchased_Label'] = le.fit_transform(data['Purchased'])
data

,country,Salary,YearsExperience,Purchased,Australia,Canada,Dubai,USA,Purchased_Label
0,Dubai,39343.0,1.1,No,0,0,1,0,0
1,Canada,46205.0,1.3,Yes,0,1,0,0,1
2,Canada,37731.0,1.5,No,0,1,0,0,0
3,Canada,43525.0,2.0,No,0,1,0,0,0
4,USA,39891.0,2.2,No,0,0,0,1,0
5,Dubai,56642.0,2.9,No,0,0,1,0,0
6,Canada,60150.0,3.0,Yes,0,1,0,0,1
7,Australia,54445.0,3.2,No,1,0,0,0,0
8,Dubai,64445.0,3.2,Yes,0,0,1,0,1
9,Dubai,57189.0,3.7,No,0,0,1,0,0
10,Dubai,63218.0,3.9,Yes,0,0,1,0,1
11,USA,55794.0,4.0,No,0,0,0,1,0
12,Dubai,56957.0,4.0,Yes,0,0,1,0,1
13,Canada,57081.0,4.1,No,0,1,0,0,0
14,Australia,61111.0,4.5,No,1,0,0,0,0
15,USA,67938.0,4.9,No,0,0,0,1,0
16,USA,66029.0,5.1,No,0,0,0,1,0
17,Canada,83088.0,5.3,No,0,1,0,0,0
18,Australia,81363.0,5.9,Yes,1,0,0,0,1
19,Canada,93940.0,6.0,No,0,1,0,0,0
20,Canada,91738.0,6.8,No,0,1,0,0,0
21,Australia,98273.0,7.1,No,1,0,0,0,0
22,Australia,101302.0,7.9,No,1,0,0,0,0
23,Australia,113812.0,8.2,Yes,1,0,0,0,1
24,Dubai,109431.0,8.7,No,0,0,1,0,0
25,Australia,105582.0,9.0,Yes,1,0,0,0,1
26,Dubai,116969.0,9.5,No,0,0,1,0,0
27,USA,112635.0,9.6,Yes,0,0,0,1,1
28,USA,122391.0,10.3,No,0,0,0,1,0
29,Canada,121872.0,10.5,Yes,0,1,0,0,1