<h3>Pandas</h3> 
<h3></h3>
Pandas is a powerful data manipulation library in python widely use for data analysis and data cleaning. It provides data structures and functions to efficiently handle structured data,data structues here are Seris and DataFrame. A Series is one dimensional array like object, while DataFrame is a two dimensional, size mutable and potentially heterogeneous tabular data structure with labeled axes(rows and columns)

In [1]:
import pandas as pd

In [7]:
s1 = pd.Series([1,2,7,3,23,5,10,19])
s1

0     1
1     2
2     7
3     3
4    23
5     5
6    10
7    19
dtype: int64

In [8]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [9]:
s2 = {'a':23,'b':54,'c':3,'d':90}
s2 = pd.Series(s2)
s2

a    23
b    54
c     3
d    90
dtype: int64

In [11]:
data = [10,20,40,80]
index = ["Namir","Ibaad","Armaan","Shah"]
pd.Series(data,index = index)

Namir     10
Ibaad     20
Armaan    40
Shah      80
dtype: int64